// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: url("background.png") no-repeat center right fixed;
  background-color: #DEF1EF;
}

h1 {
  font-family: "Acme", sans-serif;
  font-size: 45px;
  color: #EE1C25
}

a {
  font-family: "Acme", sans-serif;
  color: #EE1C25
}

label {
  font-family: "Acme", sans-serif;
  color: #EE1C25
}

p {
  font-family: "Acme", sans-serif;
}
